
<!--Header las aplicaciones  en una partials-->
{{> header }}
<body>
    <!-- Asi se declara una parial en el html -->
    {{> navbar}}
    <!-- fin de la declaracion de la partial view -->
    <div class="row">
        <div class="col-8">
            <h3>Esta es una imagen de prueba</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
        <div class="col-4">
            <img src="assets/img/DSC03509.JPG" class="img-thumbnail"
        </div>
    </div>
{{> footer}}
   